h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: gray;
  }

.texto {
    color: red;
    font-size: 12px;
  }

.italico {
    font-style: italic;
}

span {
    color: blue;
    font-weight: bold;

}